@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.herosection{
    height: 100vh;
    width: 100%;
    border: 1px, solid red;
    background: url("./goo_asset/goo\ background\ fog.png"), url("./goo_asset/Main\ Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 140px;
}
.heronav{
    width: 90%;
    height: 70px;
    border: 1px, solid orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: 50px;
    /* margin-left: 100px; */
    /* border: 1px, solid blue; */
}
.navigation{
    width: 400px;
    height: 50px;
    border: 1px, solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.profile{
    width: 150px;
    height: 50px;
    /* margin-right: 100px; */
    /* border: 1px, solid coral; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.herocontent{
    width: 70%;
    height: 400px;
    border: 1px, solid hotpink;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.herocontent-header{
    color: white;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.herocontent-text{
    color: white;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}
.herocontent-CTA button{
    background-color: #00A651;
    width: 130px;
    height: 50px;
    margin-top: 40px;
    border-radius: 12px;
    border: none;
}
.herocontent-CTA button a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: center;
}
.service-wrap{
    height: 500px;
    /* border: 5px, solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.service-wrap-header{
    height: 100px;
    width: 200px;
    /* border: 1px, solid green; */
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
    
}
.service-wrap-header h1{
    text-align: center;
    padding-top: 30px;
}
.service-wrap-servicebox{
    width: 1300px;
    height: 320px;
    /* border: 1px, solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-wrapcontainer a{
    width: 370px;
    height: 200px;
    /* border: 1px, solid black; */
    border-radius: 15px;
    background-color: #F9F9F9;
    box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: black;
}
.service-wrapcontainer img{
    width: 40px;
    height: 40px;
}
.under-service{
    height: 700px;
    width: 100%;
    background: url("./goo_asset/under-service.png"), url("./goo_asset/World\ Map\ PNG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* border: 2px, solid orange; */
    display: flex;
    align-items: center;
}
.credentials{
    height: 550px;
    width: 1300px;
    /* border: 1px, solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.service-header{
    height: 100px;
    width: 500px;
    /* border: 1px, solid green; */
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: larger;
}
.service-paragraph{
    height: 50px;
    width: 450px;
    /* border: 1px, solid hotpink; */
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: small;
}
.credential-cards{
    height: 280px;
    width: 1200px;
    /* border: 1px, solid blue; */
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    height: 200px;
    width: 220px;
    /* border: 1px, solid orange; */
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 25px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.card img{
    height: 45px;
    width: 45px;
}
.card p{
    width: 120px;
    height: 50px;
    /* border: 1px, solid black; */
}
.destinations{
    height: 100vh;
    width:100%;
    /* border: 1px, solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.destination-header{
    height: 50px;
    width: 480px;
    /* border: 1px, solid hotpink; */
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 60px;
}
.destination-show{
    height: 700px;
    width: 100%;
    /* border: 1px, solid blue; */
    background: url("./goo_asset/World\ Map\ PNG\ 28.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    display: flex;
}
.destination-place{
    height: 600px;
    width: 600px;
    /* border: 1px, solid black; */
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.thailand{
    height: 160px;
    width: 500px;
    /* border: 1px, solid red; */
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.thailand img{
    height: 160px;
}
.indonesia{
    height: 160px;
    width: 500px;
    /* border: 1px, solid red; */
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
    display: flex;
    gap: 35px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.indonesia img{
    height: 160px;
}
.newzeland{
    height: 160px;
    width: 500px;
    /* border: 1px, solid red; */
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
.newzeland img{
    height: 160px;
}
.navigatenext{
    background-color: white;
    border: none;
}
.navigatenext a img{
    height: 30px;
    width: 30px;
}
.package-ad{
    height: 100vh;
    width: 100%;
    /* border: 1px, solid hotpink; */
    background-color: #ECF1F0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.package-header{
    height: 50px;
    width: 400px;
    /* border: 1px, solid green; */
    margin-top: 50px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    
}
.package-options{
    height: 50px;
    width: 1300px;
    /* border: 1px, solid hotpink; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.package-cards{
    height: 420px;
    width: 1300px;
    /* border: 1px, solid orange; */
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.package-CTA-button{
    height: 50px;
    width: 300px;
    /* border: 1px, solid blueviolet; */
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.package-CTA-button button{
    margin: 0 auto;
    width: 170px;
    height: 40px;
    border-radius: 12px;
    background-color: #00A651;
    border: none;
    border-radius: 5px;
}
.package-CTA-button button a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.option-button{
    height: 50px;
    width: 150px;
    /* border: 1px, solid blue; */
    background-color: #00A651;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
.option-button a{
    color: white;
    text-decoration: none;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
.optionbutton{
    height: 50px;
    width: 150px;
    /* border: 1px, solid blue; */
    border-radius: 10px;
    background-color: #666666;
    text-align: center;
    display: flex;
    align-items: center;
}
.optionbutton a{
    color: white;
    text-decoration: none;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
.indonesiacard{
    height: 450px;
    width: 380px;
    /* border: 1px, solid black; */
    border-radius: 15px;
    background: url("./goo_asset/indonesia\ pckg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: bottom;
}
.japancard{
    height: 450px;
    width: 380px;
    /* border: 1px, solid black; */
    border-radius: 15px;
    background: url("./goo_asset/japan.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: bottom;
}
.mountainscard{
    height: 450px;
    width: 380px;
    /* border: 1px, solid black; */
    border-radius: 15px;
    background: url("./goo_asset/mountains.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: bottom;
}
.cardcontent{
    height: 130px;
    width: 380px;
    /* border: 1px, solid red; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardcontenthead{
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    /* border: 1px, solid orange; */
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
}
.cardcontent p{
    height: 40px;
    width: 225px;
    /* border: 1px, solid blue; */
    font-family: "Open Sans", sans-serif;
    font-size: x-small;
    font-weight: 500;
    margin-left: 10px;
}
.cardcontentfoot{
    height: 20px;
    width: 360px;
    /* border: 1px, solid green; */
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.footerleft{
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: smaller;
    font-weight: 600;
}
.footerleft img{
    width: 20px;
    height: 20px;
}
.knowmore a{
    /* text-decoration: none; */
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 400px;
}
.book-trip{
    height: 800px;
    width: 100%;
    /* border: 1px, solid red; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
}
.book-header{
    height: 70px;
    width: 600px;
    /* border: 1px, solid hotpink; */
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
.book-subtext{
    height: 30px;
    width: 160px;
    /* border: 1px, solid blue; */
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
}
.book-content{
    height: 600px;
    width: 1200px;
    /* border: 1px, solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}
.bookcontent-left{
    height: 500px;
    width: 500px;
    /* border: 1px, solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel{
    height: 120px;
    width: 500px;
    /* border: 1px, solid red; */
    display: flex;
    justify-content: space-between;

}
.panel img{
    height: 116px;
    width: 100px;
    /* border: 2px, solid hotpink; */
}
.panelwords{
    height: 120px;
    width: 350px;
    /* border: 1px, solid blue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Open Sans", sans-serif;
    color: #5E6282;
}
.panelwords h4{
    margin-top: 15px;
}
.bookcontent-right{
    height: 500px;
    width: 500px;
    /* border: 1px, solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-top: 30px;
}
.bookcontent-right img{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px,solid orange; */
    background: url("./goo_asset/blue\ blurr.png");
    background-position: center;
    background-size: auto;
}
.reviews{
    height: 800px;
    width: 100%;
    /* border: 1px, solid blue; */
    background-color: #ECF1F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.reviewheader{
    height: 60px;
    width: 500px;
    /* border: 1px, solid orange; */
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
.reviewcards{
    height: 550px;
    width: 100%;
    /* border: 1px, solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviewcardleft{
    height: 380px;
    width: 140px;
    background: url("./goo_asset/sheep\ chair\ left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    /* border: 1px, solid green; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.2);
}
.reviewcardmiddle{
    height: 500px;
    width: 1000px;
    background: url("./goo_asset/China\ review.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 1px, solid green; */
    border-radius: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.reviewcardright{
    height: 380px;
    width: 140px;
    /* border: 1px, solid green; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.2);
    background: url("./goo_asset/wood\ chair\ right.png");
}
.reviewwords{
    height: 230px;
    width: 600px;
    background-color: white;
    /* border: 1px, solid black; */
    margin-top: -80px;
    margin-left: 210px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.reviewcardmiddle img{
    /* border: 1px, solid green; */
    margin-left: 440px;
    margin-top: 270px;
}
.reviewwords p{
    margin-top: 85px;
}
.reviewwords p4{
    font-weight: 700;
}
.final{
    height: 100vh;
    width: 100%;
    /* border: 1px, solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}
.final > img{
    position: absolute;
    top:50px;
    right: 150px;
}
.subscribe{
    height: 360px;
    width: 1100px;
    background: url("./goo_asset/green\ back.png");
    /* border: 1px, solid blue; */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}
.pagefooter{
    height: 380px;
    width: 1350px;
    /* border: 1px, solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subheader{
    height: 90px;
    width: 900px;
    /* border: 1px, solid orange; */
    margin-top:50px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #5E6282;
}
.entermail{
    height: 100px;
    width: 800px;
    /* border: 1px, solid black; */
    display: flex;
    gap: 15px;
    align-items: center;
}
.maildrop{
    height: 70px;
    width: 450px;
    /* border: 1px, solid green; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 15px  rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 45px;
}
.maildrop p{
    font-family: "Open Sans", sans-serif;
    color: #5E6282
}
.maildrop img{
    height: 20px;
    width: 20px;
    color: #5E6282;
    margin-left: 30px;
}
.subscribebutton{
    height: 70px;
    width: 200px;
    /* border: 1px, solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribebutton button{
    background-color: #00A651;
    border: none;
    border: 10px;
    width: 180px;
    height: 70px;
    border-radius: 10px;
}
.subscribebutton button a{
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: large;
}
.footlogo{
    height: 200px;
    width: 260px;
    /* border: 1px, solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footlogo img{
    width: 100px;
    height: 120px;
    /* border: 1px, solid red; */
}
.footlogo p{
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #5E6282;
    font-size: small;
}
.footnav{
    height: 380px;
    width: 500px;
    /* border: 1px, solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.appdownload{
    height: 380px;
    width: 300px;
    /* border: 1px, solid black; */
    position: relative;
}
.appdownload img{
    position: absolute;
    bottom: 110px;
}
.infohead{
    height: 50px;
    width: 450px;
    /* border: 1px, solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.infohead p{
    height: 35px;
    width: 90px;
    /* border: 1px, solid hotpink; */
}
.groupfootinfo{
    height: 170px;
    width: 450px;
    /* border: 1px, solid blue; */
}
.footinfo{
    height: 50px;
    width: 450px;
    /* border: 1px, solid red;; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: "Open Sans", sans-serif;
}
.footinfo p{
    height: 25px;
    width: 90px;
    /* border: 1px, solid hotpink; */
    font-size: smaller;
    color: #5E6282;
}
